


<% if @three_amazing_things.class == NilClass %>
  <%= form_for(journal_entry) do |f| %>
    <% if journal_entry.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(journal_entry.errors.count, "error") %> prohibited this journal_entry from being saved:</h2>

        <ul>
        <% journal_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %> 
      <div class="container">
      <div class="field">
            <%= f.text_field :prompt, :value => "Three Amazing Things Happened Today..." %>
          </div>

          <div class="field">
            <% f.label :entry %>
            <%= f.text_area :entry, :style => "height:380px;" %>
          </div>

          <div class="actions">
            <%= f.submit "submit", :class => "btn btn-success", :style => "width:100%" %>
          </div> 
    </div>  
  <% end %>
<% elsif @three_amazing_things.occurrence_date == Date.today %>
  <p>
    <span class="dash-header-2018"><%= @three_amazing_things.prompt %></span>
    <%= simple_format(@three_amazing_things.entry, align: "left") %>
  </p>
<% else %>
  <%= form_for(journal_entry) do |f| %>
    <% if journal_entry.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(journal_entry.errors.count, "error") %> prohibited this journal_entry from being saved:</h2>

        <ul>
        <% journal_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %> 
      <div class="container">
      <div class="field">
            <%= f.text_field :prompt, :value => "Three Amazing Things Happened Today..." %>
          </div>

          <div class="field">
            <% f.label :entry %>
            <%= f.text_area :entry, :style => "height:380px;" %>
          </div>

          <div class="actions">
            <%= f.submit "submit", :class => "btn btn-success", :style => "width:100%" %>
          </div> 
    </div>  
  <% end %>
<% end %>


