<h4 class="dash-header-2018" style="align:center !important;">morning journal</h4>


  	<div class="conainter-fluid">
  		<div class="row">
  			<div class="col">

<%-# GRATTITUDES -%>
				<% if @todays_grattitudes.occurrence_date == Date.today %>
	        		<p>
	        			<span class="dash-header-2018"><%= @todays_grattitudes.prompt %></span>
		        		<%= simple_format(@todays_grattitudes.entry, align: "left") %>
		        	</p>
	        	<% else %>
		  			<%= form_for(journal_entry) do |f| %>
					  <% if journal_entry.errors.any? %>
					    <div id="error_explanation">
					      <h2><%= pluralize(journal_entry.errors.count, "error") %> prohibited this journal_entry from being saved:</h2>

					      <ul>
					      <% journal_entry.errors.full_messages.each do |message| %>
					        <li><%= message %></li>
					      <% end %>
					      </ul>
					    </div>
					  <% end %>	
		  				<div class="container">
		        			<div class="field">
					        	<%= f.text_field :prompt, :value => "What Are You Grateful For?" %>
					        </div>

					        <div class="field">
						        <% f.label :entry %>
						        <%= f.text_area :entry, :style => "height:120px;" %>
					        </div>

					        <div class="actions">
					         	<%= f.submit "submit", :class => "btn btn-success", :style => "width:100%" %>
					        </div> 
		        		</div>  
		        	<% end %>	        	
	        	<% end %>
<%-# AFFIRMATIONS -%>
				<% if @todays_affirmations.occurrence_date == Date.today %>
	        		<p>
	        			<span class="dash-header-2018"><%= @todays_affirmations.prompt %></span>
		        		<%= simple_format(@todays_affirmations.entry, align: "left") %>
		        	</p>
	        	<% else %>
					<%= form_for(journal_entry) do |f| %>
					  <% if journal_entry.errors.any? %>
					    <div id="error_explanation">
					      <h2><%= pluralize(journal_entry.errors.count, "error") %> prohibited this journal_entry from being saved:</h2>

					      <ul>
					      <% journal_entry.errors.full_messages.each do |message| %>
					        <li><%= message %></li>
					      <% end %>
					      </ul>
					    </div>
					  <% end %>        		
		 				<div class="container">
		        			<div class="field">
					        	<%= f.text_field :prompt, :value => "Daily Affirmations. I am..." %>
					        </div>

					        <div class="field">
						        <% f.label :entry %>
						        <%= f.text_area :entry, :style => "height:120px;" %>
					        </div>

					        <div class="actions">
					         	<%= f.submit "submit", :class => "btn btn-success", :style => "width:100%" %>
					        </div> 
		        		</div>
	        		<% end %>	        	
	        	<% end %>
					        	

<%-# WHAT WOULD MAKE TODAY GREAT -%>
	        	<% if @make_today_great.occurrence_date == Date.today %>
	        		<p>
	        			<span class="dash-header-2018"><%= @make_today_great.prompt %></span>
						<%= simple_format(@make_today_great.entry, align: "left") %>
		        	</p>
	        	<% else %>
		  			<%= form_for(journal_entry) do |f| %>
					  <% if journal_entry.errors.any? %>
					    <div id="error_explanation">
					      <h2><%= pluralize(journal_entry.errors.count, "error") %> prohibited this journal_entry from being saved:</h2>

					      <ul>
					      <% journal_entry.errors.full_messages.each do |message| %>
					        <li><%= message %></li>
					      <% end %>
					      </ul>
					    </div>
					  <% end %>
		  				<div class="container">
		        			<div class="field">
					        	<%= f.text_field :prompt, :value => "What would make today great?" %>
					        </div>

					        <div class="field">
						        <% f.label :entry %>
						        <%= f.text_area :entry, :style => "height:120px;" %>
					        </div>

					        <div class="actions">
					         	<%= f.submit "submit", :class => "btn btn-success", :style => "width:100%" %>
					        </div> 
		        		</div> 
		        	<% end %>
	        	<% end %>

  			</div>
  		</div>
  	</div>       


