<h4 class="journal-dash">morning journal</h4>






<%= form_for(journal_entry) do |f| %>
  <% if journal_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journal_entry.errors.count, "error") %> prohibited this journal_entry from being saved:</h2>

      <ul>
      <% journal_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  	<div class="conainter-fluid">
  		<div class="row">
  			<div class="col">
  				<div class="container">
        			<div class="field">
			        	<%= f.text_field :prompt, :value => "What Are You Greateful For?" %>
			        </div>

			        <div class="field">
				        <% f.label :entry %>
				        <%= f.text_area :entry, :style => "height:55px;" %>
			        </div>

			        <div class="actions">
			         	<%= f.submit "submit", :class => "btn round", :style => "width:100%" %>
			        </div> 
        		</div>        		
  				<div class="container">
        			<div class="field">
			        	<%= f.text_field :prompt, :value => "What would make today great?" %>
			        </div>

			        <div class="field">
				        <% f.label :entry %>
				        <%= f.text_area :entry, :style => "height:55px;" %>
			        </div>

			        <div class="actions">
			         	<%= f.submit "submit", :class => "btn round", :style => "width:100%" %>
			        </div> 
        		</div>        		       		        		
  			</div>
  			<div class="col">
        		<div class="container">
        			<div class="field">
			        	<%= f.text_field :prompt, :value => "Morning Notes" %>
			        </div>

			        <div class="field">
				        <% f.label :entry %>
				        <%= f.text_area :entry, :style => "height:69px;" %>
			        </div>

			        <div class="actions">
			         	<%= f.submit "submit", :class => "btn round", :style => "width:100%" %>
			        </div> 
        		</div>
 				<div class="container">
        			<div class="field">
			        	<%= f.text_field :prompt, :value => "Daily Affirmations. I am..." %>
			        </div>

			        <div class="field">
				        <% f.label :entry %>
				        <%= f.text_area :entry %>
			        </div>

			        <div class="actions">
			         	<%= f.submit "submit", :class => "btn round", :style => "width:100%" %>
			        </div> 
        		</div>
  			</div>
  		</div>
  	</div>       

<% end %>
