<%-# BEGIN BIG CONTAINER -%>
<div class="container-fluid" style="padding-right:12px; padding-left:12px;">
	<% @date_iterator = 0 %>
	<% 50.times do |row_index| %>
		<div class="row">
			<% 2.times do |col_index| %>
				<% @use_date = Date.today - @date_iterator %>
				<% if @use_date == Date.today %>
					<div class="col-lg-6 box" align="top">
						<h3>Journal Entries on <%= @use_date %></h3>
						<br>
						<%= render 'mini_form', journal_entry: @journal_entry %>
						<hr>
						<% @all_entries.where(occurrence_date: @use_date).each do |entry| %>
							<div class="container-fluid">
								<div class="row">
									<div class="col-lg-6">
										<strong><%= entry.prompt %></strong> (<%= link_to "show", entry %>, <%= link_to "edit", edit_journal_entry_path(entry) %>)
									</div>
									
								</div>
							</div>
							<p align="left">
								<%= simple_format(entry.entry) %>
							</p>
						<% end %>
					</div>	
					<% @date_iterator += 1 %>				
				<% else %>
					<div class="col-lg-6 box" align="top">
						<h3>Journal Entries on <%= @use_date %></h3>
						<br><hr>
						<% @all_entries.where(occurrence_date: @use_date).each do |entry| %>
							<p align="left">
								<strong><%= entry.prompt %></strong><br/>
								<%= simple_format(entry.entry) %>
							</p>
						<% end %>
					</div>	
					<% @date_iterator += 1 %>				
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>