<p id="notice"><%= notice %></p>

<h1>Journal Entries</h1>

<table>
  <thead>
    <tr>
      <th>Prompt</th>
      <th>Entry</th>
      <th>Entry type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journal_entries.order( updated_at: :desc ).each do |journal_entry| %>
      <tr>
        <td><%= journal_entry.prompt %></td>
        <td><%= journal_entry.entry %></td>
        <td><%= journal_entry.entry_type %></td>
        <td><%= link_to 'Show', journal_entry %></td>
        <td><%= link_to 'Edit', edit_journal_entry_path(journal_entry) %></td>
        <td><%= link_to 'Destroy', journal_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Journal Entry', new_journal_entry_path %>
