<%= form_for(workout) do |f| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="field">
    			<%= f.label :name %>
    			<%= f.text_field :name %>
  			</div>
		</div>
		<div class="col">
			<div class="field">
		    	<%= f.label :description %>
		    	<%= f.text_area :description %>
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="col">
		    <div class="field">
			    <%= f.label :minutes %>
			    <%= f.number_field :minutes %>
			</div>
		</div>		
		<div class="col">			
			<div class="field">
    			<%= f.label :occurrence_time %>
    			<%= f.datetime_select :occurrence_time %>
  			</div>			
		</div>
	</div>	
	<div class="row">
		<div class="col" align="right">
			<div class="actions" align="right">
				<%= f.submit %>
			</div>
		</div>
	</div>
</div>

<% end %>
