<h3 class="journal-dash">Daily Goal Assessment</h3>

<%= form_for(goal_indicator) do |f| %>
  <% if goal_indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal_indicator.errors.count, "error") %> prohibited this goal_indicator from being saved:</h2>

      <ul>
      <% goal_indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table>
	<tr>
		<td width="10px" align="right"><%= f.submit "submit" %></td>
		<td width="10px"><%= f.check_box :boolean_indicator %></td>
		<td width="99px" align="left"><%= f.text_field :measure, :value => "did you eat well today?", :style => "border:none;" %></td>
		
		<td width="109px" align="left"></td>
		<td align="left"></td>
	</tr>
</table>
<% end %>

<%= form_for(goal_indicator) do |f| %>
  <% if goal_indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal_indicator.errors.count, "error") %> prohibited this goal_indicator from being saved:</h2>

      <ul>
      <% goal_indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>	
	<tr>
		<td width="10px" align="right"><%= f.submit "submit" %></td>
		<td width="10px"><%= f.check_box :boolean_indicator %></td>
		<td width="212px" align="left"><%= f.text_field :measure, :value => "did you get better at climbing today?", :style => "border:none;width:212px;" %></td>
		
		<td width="109px" align="left"></td>
		<td align="left"></td>
	</tr>
</table>
<% end %>

<%= form_for(goal_indicator) do |f| %>
  <% if goal_indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal_indicator.errors.count, "error") %> prohibited this goal_indicator from being saved:</h2>

      <ul>
      <% goal_indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>	
	<tr>
		<td width="10px" align="right"><%= f.submit "submit" %></td>
		<td width="10px"><%= f.check_box :boolean_indicator %></td>
		<td width="212px" align="left"><%= f.text_field :measure, :value => "Did you make something of worth today?", :style => "border:none;width:242px;" %></td>
		
		<td width="60px" align="left"></td>
		<td align="left"></td>
	</tr>
</table>
<% end %>

<%= form_for(goal_indicator) do |f| %>
  <% if goal_indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal_indicator.errors.count, "error") %> prohibited this goal_indicator from being saved:</h2>

      <ul>
      <% goal_indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>	
	<tr>
		<td width="10px" align="right"><%= f.submit "submit" %></td>
		<td width="10px"><%= f.check_box :boolean_indicator %></td>
		<td width="212px" align="left"><%= f.text_field :measure, :value => "Did you write today?", :style => "border:none;width:242px;" %></td>
		<td width="109px" align="left"></td>
		<td align="left"></td>
	</tr>
</table>
<% end %>

<%= form_for(goal_indicator) do |f| %>
  <% if goal_indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal_indicator.errors.count, "error") %> prohibited this goal_indicator from being saved:</h2>

      <ul>
      <% goal_indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>	
	<tr>
		<td width="10px" align="right"><%= f.submit "submit" %></td>
		<td width="10px"><%= f.check_box :boolean_indicator %></td>
		<td width="212px" align="left"><%= f.text_field :measure, :value => "Did you code today?", :style => "border:none;width:242px;" %></td>
		<td width="109px" align="left"></td>
		<td align="left"></td>
	</tr>
</table>
<% end %>

<%= form_for(goal_indicator) do |f| %>
  <% if goal_indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal_indicator.errors.count, "error") %> prohibited this goal_indicator from being saved:</h2>

      <ul>
      <% goal_indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>	
	<tr>
		<td width="10px" align="right"><%= f.submit "submit" %></td>
		<td width="10px"><%= f.check_box :boolean_indicator %></td>
		<td width="212px" align="left"><%= f.text_field :measure, :value => "Did you delight someone today?", :style => "border:none;width:212px;" %></td>
		<td width="109px" align="left"></td>
		<td align="left"></td>
	</tr>
</table>
<% end %>

<%= form_for(goal_indicator) do |f| %>
  <% if goal_indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal_indicator.errors.count, "error") %> prohibited this goal_indicator from being saved:</h2>

      <ul>
      <% goal_indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>	
	<tr>
		<td width="10px" align="right"><%= f.submit "submit" %></td>
		<td width="10px"></td>
		<td align="left"><%= f.text_field :measure, :value => "Did you advance your relationships today?", :style => "border:none;" %></td>
		<td width="109px" align="left"></td>
		<td align="left"></td>
	</tr>
</table>
<% end %>

<%= form_for(goal_indicator) do |f| %>
  <% if goal_indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal_indicator.errors.count, "error") %> prohibited this goal_indicator from being saved:</h2>

      <ul>
      <% goal_indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
	<tr>
		<td width="10px" align="right"><%= f.submit "submit" %></td>
		<td width="10px"></td>
		<td width="230px" align="left"><%= f.text_field :measure, :value => "how much money did you make today?", :style => "border:none;width:229px;" %></td>
		<td width="66px" align="left"><%= f.number_field :dollars_made_indicator, :style => "height:16px;width:66px;", :value => "00.00" %></td>
		
		<td align="left"></td>
	</tr>
</table>
<% end %>

<%= form_for(goal_indicator) do |f| %>
  <% if goal_indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal_indicator.errors.count, "error") %> prohibited this goal_indicator from being saved:</h2>

      <ul>
      <% goal_indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
	<tr>
		<td width="10px" align="right"><%= f.submit "submit" %></td>
		<td width="10px"></td>
		<td width="230px" align="left"><%= f.text_field :measure, :value => "how much money did you spend today?", :style => "border:none;width:229px;" %></td>
		<td width="66px" align="left"><%= f.number_field :dollars_spent_indicator, :style => "height:16px;width:66px;", :value => "00.00" %></td>
		
		<td align="left"></td>
	</tr>
</table>
<% end %>
