<p id="notice"><%= notice %></p>

<h1>Goal Indicators</h1>

<table>
  <thead>
    <tr>
      <th>Measure</th>
      <th>Boolean indicator</th>
      <th>Dollars made indicator</th>
      <th>Dollars spent indicator</th>
      <th>Text indicator</th>
      <th>Goal category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goal_indicators.each do |goal_indicator| %>
      <tr>
        <td><%= goal_indicator.measure %></td>
        <td><%= goal_indicator.boolean_indicator %></td>
        <td><%= goal_indicator.dollars_made_indicator %></td>
        <td><%= goal_indicator.dollars_spent_indicator %></td>
        <td><%= goal_indicator.text_indicator %></td>
        <td><%= goal_indicator.goal_category %></td>
        <td><%= link_to 'Show', goal_indicator %></td>
        <td><%= link_to 'Edit', edit_goal_indicator_path(goal_indicator) %></td>
        <td><%= link_to 'Destroy', goal_indicator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal Indicator', new_goal_indicator_path %>
