<div class="container-fluid climb-form">


    <%= form_for(climb) do |f| %>
      <% if climb.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(climb.errors.count, "error") %> prohibited this climb from being saved:</h2>

          <ul>
          <% climb.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>






      <div class="row">
        <div class="col">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h4 class="dash-header-2018">Boulder Problems</h4>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label :v0s_sent %>
                  <%= f.number_field :v0s %>
                </div>            
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :v0_attempts %>
                </div>
              </div>   
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label :v1s_sent %>
                  <%= f.number_field :v1s %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :v1_attempts %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label :v2s_sent %>
                  <%= f.number_field :v2s %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :v2_attempts %>
                </div>
              </div>
            </div>             
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label :v3s_sent %>
                  <%= f.number_field :v3s %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :v3_attempts %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label :v4s_sent %>
                  <%= f.number_field :v4s %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :v4_attempts %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label :v5s_sent %>
                  <%= f.number_field :v5s %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :v5_attempts %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label :v6s_sent %>
                  <%= f.number_field :v6s %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :v6_attempts %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label :v7s_sent %>
                  <%= f.number_field :v7s %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :v7_attempts %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label :v8s_sent %>
                  <%= f.number_field :v8s %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :v8_attempts %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label :v9s_sent %>
                  <%= f.number_field :v9s %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :v9_attempts %>
                </div>
              </div>
            </div>                
          </div>          
        </div>
        <div class="col">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h4 class="dash-header-2018">Sport Routes</h4>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label "9a/b's sent"   %>
                  <%= f.number_field :nine_ab %>
                </div>            
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :nine_ab_attempts %>
                </div>
              </div>   
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label "9c/d's sent" %>
                  <%= f.number_field :nine_cd %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :nine_cd_attempts %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label "10a/b's sent" %>
                  <%= f.number_field :ten_ab %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :ten_ab_attempts %>
                </div>
              </div>
            </div>             
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label "10c/d's sent" %>
                  <%= f.number_field :ten_cd %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :ten_cd_attempts %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label "11a/b's sent" %>
                  <%= f.number_field :eleven_ab %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :eleven_ab_attempts %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label "11c/d's sent" %>
                  <%= f.number_field :eleven_cd %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :eleven_cd_attempts %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label "12a's sent" %>
                  <%= f.number_field :twelve_a %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :twelve_a_attempts %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label "12b's sent" %>
                  <%= f.number_field :twelve_b %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :twelve_b_attempts %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label "12c's sent" %>
                  <%= f.number_field :twelve_c %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :twelve_c_attempts %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="field">
                  <%= f.label "12d's sent" %>
                  <%= f.number_field :twelve_d %>
                </div>           
              </div>
              <div class="col">  
                <div class="field">
                  <%= f.label :attempted %>
                  <%= f.number_field :twelve_d_attempts %>
                </div>
              </div>
            </div>                
          </div>            
        </div>
      </div>

      <div class="field">
        <%= f.label :minutes %>
        <%= f.number_field :minutes %>
      </div>

      <div class="field">
        <%= f.label :location_and_other_notes %>
        <%= f.text_field :other %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

  
</div>
