<p id="notice"><%= notice %></p>



<div class="container-fluid" style="max-width:600px;">
  <div class="row">
    <div class="col">
      <p>
        <%= @climb.minutes %> minute <%= @climb.other %><br/>
        <%= @climb.total %> total sends on <%= @climb.attempt_total %> total attempts. v-total: <%= @climb.v_total %> 
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4 class="dash-header-2018">Boulder Problems</h4>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <strong>V0s Sent:</strong>
        <%= @climb.v0s %>    
      </div>
      <div class="col">
        <strong>V0 Attempts:</strong>
        <%= @climb.v0_attempts %>    
      </div>
    </div>    

    <div class="row">
      <div class="col">
        <strong>V1s Sent:</strong>
        <%= @climb.v1s %>    
      </div>
      <div class="col">
        <strong>V1 Attempts:</strong>
        <%= @climb.v1_attempts %>    
      </div>
    </div>

    <div class="row">
      <div class="col">
        <strong>V2s Sent:</strong>
        <%= @climb.v2s %>    
      </div>
      <div class="col">
        <strong>V2 Attempts:</strong>
        <%= @climb.v2_attempts %>    
      </div>
    </div>
    
    <div class="row">  
      <div class="col">
        <strong>V3s Sent:</strong>
        <%= @climb.v3s %>    
      </div>
      <div class="col">
        <strong>V3 Attempts:</strong>
        <%= @climb.v3_attempts %>    
      </div>
    </div>
    
    <div class="row">  
      <div class="col">
        <strong>V4s Sent:</strong>
        <%= @climb.v4s %>    
      </div>
      <div class="col">
        <strong>V4 Attempts:</strong>
        <%= @climb.v4_attempts %>    
      </div>
    </div>
    
    <div class="row">  
      <div class="col">
        <strong>V5s Sent:</strong>
        <%= @climb.v5s %>    
      </div>
      <div class="col">
        <strong>V5 Attempts:</strong>
        <%= @climb.v5_attempts %>    
      </div>
    </div>

    <div class="row">  
      <div class="col">
        <strong>V6s Sent:</strong>
        <%= @climb.v6s %>    
      </div>
      <div class="col">
        <strong>V6 Attempts:</strong>
        <%= @climb.v6_attempts %>    
      </div>
    </div>

    <div class="row">  
      <div class="col">
        <strong>V7s Sent:</strong>
        <%= @climb.v7s %>    
      </div>
      <div class="col">
        <strong>V7 Attempts:</strong>
        <%= @climb.v7_attempts %>    
      </div>
    </div>

    <div class="row">  
      <div class="col">
        <strong>V8s Sent:</strong>
        <%= @climb.v8s %>    
      </div>
      <div class="col">
        <strong>V8 Attempts:</strong>
        <%= @climb.v8_attempts %>    
      </div>
    </div>

    <div class="row">  
      <div class="col">
        <strong>V9s Sent:</strong>
        <%= @climb.v9s %>    
      </div>
      <div class="col">
        <strong>V9 Attempts:</strong>
        <%= @climb.v9_attempts %>    
      </div>
    </div>     
  </div>
        
  <div class="row">
    <div class="col">
      <h4 class="dash-header-2018">Sport Routes</h4>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <strong>9a/bs Sent:</strong>
        <%= @climb.nine_ab %>    
      </div>
      <div class="col">
        <strong>9a/b attempts:</strong>
        <%= @climb.nine_ab_attempts %>    
      </div>
    </div>    

    <div class="row">
      <div class="col">
        <strong>9c/ds Sent:</strong>
        <%= @climb.nine_cd %>    
      </div>
      <div class="col">
        <strong>9c/ds Attempts:</strong>
        <%= @climb.nine_cd_attempts %>    
      </div>
    </div>

    <div class="row">
      <div class="col">
        <strong>10a/bs Sent:</strong>
        <%= @climb.ten_ab %>    
      </div>
      <div class="col">
        <strong>10a/b Attempts:</strong>
        <%= @climb.ten_ab_attempts %>    
      </div>
    </div>
    
    <div class="row">  
      <div class="col">
        <strong>10c/ds Sent:</strong>
        <%= @climb.ten_cd %>    
      </div>
      <div class="col">
        <strong>10c/d Attempts:</strong>
        <%= @climb.ten_cd_attempts %>    
      </div>
    </div>
    
    <div class="row">  
      <div class="col">
        <strong>11a/bs Sent:</strong>
        <%= @climb.eleven_ab %>    
      </div>
      <div class="col">
        <strong>11a/b Attempts:</strong>
        <%= @climb.eleven_ab_attempts %>    
      </div>
    </div>
    
    <div class="row">  
      <div class="col">
        <strong>11c/ds Sent:</strong>
        <%= @climb.eleven_cd %>    
      </div>
      <div class="col">
        <strong>11c/d Attempts:</strong>
        <%= @climb.eleven_cd_attempts %>    
      </div>
    </div>

    <div class="row">  
      <div class="col">
        <strong>12as Sent:</strong>
        <%= @climb.twelve_a %>    
      </div>
      <div class="col">
        <strong>12a Attempts:</strong>
        <%= @climb.twelve_a_attempts %>    
      </div>
    </div>

    <div class="row">  
      <div class="col">
        <strong>12bs Sent:</strong>
        <%= @climb.twelve_b %>    
      </div>
      <div class="col">
        <strong>12b Attempts:</strong>
        <%= @climb.twelve_b_attempts %>    
      </div>
    </div>

    <div class="row">  
      <div class="col">
        <strong>12cs Sent:</strong>
        <%= @climb.twelve_c %>    
      </div>
      <div class="col">
        <strong>12c Attempts:</strong>
        <%= @climb.twelve_c_attempts %>    
      </div>
    </div>

    <div class="row">  
      <div class="col">
        <strong>12ds Sent:</strong>
        <%= @climb.twelve_d %>    
      </div>
      <div class="col">
        <strong>12d Attempts:</strong>
        <%= @climb.twelve_d_attempts %>    
      </div>
    </div>     
  </div>

  <div class="row">
    <div class="col">
      <br/><br/>
      <%= link_to 'Edit', edit_climb_path(@climb) %> |
      <%= link_to 'Back', climbs_path %>      
    </div>
  </div>


</div>


