<p id="notice"><%= notice %></p>

<p>
  <strong>V0s:</strong>
  <%= @climb.v0s %>
</p>

<p>
  <strong>V1s:</strong>
  <%= @climb.v1s %>
</p>

<p>
  <strong>V2s:</strong>
  <%= @climb.v2s %>
</p>

<p>
  <strong>V3s:</strong>
  <%= @climb.v3s %>
</p>

<p>
  <strong>V4s:</strong>
  <%= @climb.v4s %>
</p>

<p>
  <strong>V5s:</strong>
  <%= @climb.v5s %>
</p>

<p>
  <strong>V6s:</strong>
  <%= @climb.v6s %>
</p>

<p>
  <strong>V7s:</strong>
  <%= @climb.v7s %>
</p>

<p>
  <strong>V8s:</strong>
  <%= @climb.v8s %>
</p>

<p>
  <strong>V9s:</strong>
  <%= @climb.v9s %>
</p>

<p>
  <strong>Notes/Other</strong>
  <%= @climb.other %>
</p>

<%= link_to 'Edit', edit_climb_path(@climb) %> |
<%= link_to 'Back', climbs_path %>
