<p id="notice"><%= notice %></p>

<h1 align="center">Entries</h1>
<%= link_to 'New Entry', new_entry_path %>
<table width="100%">
  <tbody>
  <% @paired_entries.each do |pair| %>
    <tr>
    <% next if pair[0] == nil %>

      <td valign="top" class="box" width="50%">
        <h3 align="center"> Entry for<i> <%= pair[0].created_at.strftime("%A") %> <%= pair[0].created_at.strftime("%d") %> <%= pair[0].created_at.strftime("%B") %> <%= pair[0].created_at.strftime("%Y") %></i></h3>
        <h4 align="center"><i>What are you grateful for?</i></h4>
        1. <%= pair[0].grateful_1 %><br>
        2. <%= pair[0].grateful_2 %><br>
        3. <%= pair[0].grateful_3 %><br>
        <h4 align="center"><i>What would make today great?</i></h4>
        1. <%= pair[0].make_today_great_1 %><br>
        2. <%= pair[0].make_today_great_2 %><br>
        3. <%= pair[0].make_today_great_3 %><br>
        <h4 align="center"><i>Daily affirmations. I am...</i></h4>
        * <%= pair[0].affirmation_1 %><br>
        * <%= pair[0].affirmation_2 %><br>

        <h4 align="center"><i>3 Amazing things that happend today...</i></h4>
        * <%= pair[0].amazing_thing_1 %><br>
        * <%= pair[0].amazing_thing_2 %><br>
        <h4 align="center"><i>How could I have made today better?</i></h4>
        * <%= pair[0].improve_today_1 %><br>
        * <%= pair[0].improve_today_2 %><br>
        <h4 align="center"><i>Other notes</i></h4>
        * <%= pair[0].anything_else %><br>
        
        <p align="center"><%= link_to 'Show', pair[0] %> | <%= link_to 'Edit', edit_entry_path(pair[0]) %> | <%= link_to 'Destroy', pair[0], method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </td>

    <% next if pair[1] == nil %>
      <td valign="top" class="box" width="50%">
        <h3 align="center">Entry for<i> <%= pair[1].created_at.strftime("%A") %> <%= pair[1].created_at.strftime("%d") %> <%= pair[1].created_at.strftime("%B") %> <%= pair[1].created_at.strftime("%Y") %></i></h3>
        <h4 align="center"><i>What are you grateful for?</i></h4>
        1. <%= pair[1].grateful_1 %><br>
        2. <%= pair[1].grateful_2 %><br>
        3. <%= pair[1].grateful_3 %><br>
        <h4 align="center"><i>What would make today great?</i></h4>
        1. <%= pair[1].make_today_great_1 %><br>
        2. <%= pair[1].make_today_great_2 %><br>
        3. <%= pair[1].make_today_great_3 %><br>
        <h4 align="center"><i>Daily affirmations. I am...</i></h4>
        * <%= pair[1].affirmation_1 %><br>
        * <%= pair[1].affirmation_2 %><br>

        <h4 align="center"><i>3 Amazing things that happend today...</i></h4>
        * <%= pair[1].amazing_thing_1 %><br>
        * <%= pair[1].amazing_thing_2 %><br>
        <h4 align="center"><i>How could I have made today better?</i></h4>
        * <%= pair[1].improve_today_1 %><br>
        * <%= pair[1].improve_today_2 %><br>
        <h4 align="center"><i>Other notes</i></h4>
        * <%= pair[1].anything_else %><br>

        <p align="center"><%= link_to 'Show', pair[1] %> | <%= link_to 'Edit', edit_entry_path(pair[1]) %> | <%= link_to 'Destroy', pair[1], method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
