<p id="notice"><%= notice %></p>

<p>
  <strong>Grateful 1:</strong>
  <%= @entry.grateful_1 %>
</p>

<p>
  <strong>Grateful 2:</strong>
  <%= @entry.grateful_2 %>
</p>

<p>
  <strong>Grateful 3:</strong>
  <%= @entry.grateful_3 %>
</p>

<p>
  <strong>Make today great 1:</strong>
  <%= @entry.make_today_great_1 %>
</p>

<p>
  <strong>Make today great 2:</strong>
  <%= @entry.make_today_great_2 %>
</p>

<p>
  <strong>Make today great 3:</strong>
  <%= @entry.make_today_great_3 %>
</p>

<p>
  <strong>Affirmation 1:</strong>
  <%= @entry.affirmation_1 %>
</p>

<p>
  <strong>Affirmation 2:</strong>
  <%= @entry.affirmation_2 %>
</p>

<p>
  <strong>Amazing thing 1:</strong>
  <%= @entry.amazing_thing_1 %>
</p>

<p>
  <strong>Amazing thing 2:</strong>
  <%= @entry.amazing_thing_2 %>
</p>

<p>
  <strong>Amazing thing 3:</strong>
  <%= @entry.amazing_thing_3 %>
</p>

<p>
  <strong>Improve today 1:</strong>
  <%= @entry.improve_today_1 %>
</p>

<p>
  <strong>Improve today 2:</strong>
  <%= @entry.improve_today_2 %>
</p>

<p>
  <strong>Anything else:</strong>
  <%= @entry.anything_else %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
