<%= form_for(simple_consumable) do |f| %>
  <% if simple_consumable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(simple_consumable.errors.count, "error") %> prohibited this simple_consumable from being saved:</h2>

      <ul>
      <% simple_consumable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-fluid" style="max-width: 555px;" align="center">
  <div class="row">
    <div class="col">
      <div class="field">
        <%= f.label :consumable_type %>
        <%= f.select :consumable_type, options_for_select(["meal","snack","alcohol","drink","smoke","tobacco other"]) %>
      </div>      
    </div>
    <div class="col">
      <div class="field">
        <%= f.label :on_diet? %>
        <%= f.check_box :on_diet %>
      </div>      
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="field">
        <%= f.label :occurrence_time %>
        <%= f.datetime_select :occurrence_time %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= f.label :occurrence_date %>
        <%= f.date_select :occurrence_date %>
      </div>      
    </div>
  </div>
</table>

<table style="max-width: 555px;" align="center">
  <div class="row">
    <div class="col">
      <div class="actions" align="center">
        <%= f.submit %>
      </div>
    </div>
  </div>
</div>

<% end %>
