<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @evening_ritual.day %>
</p>

<p>
  <strong>Core:</strong>
  <%= @evening_ritual.core %>
</p>

<p>
  <strong>Stretch:</strong>
  <%= @evening_ritual.stretch %>
</p>

<p>
  <strong>Brush:</strong>
  <%= @evening_ritual.brush %>
</p>

<p>
  <strong>Read:</strong>
  <%= @evening_ritual.read %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @evening_ritual.journal %>
</p>

<%= link_to 'Edit', edit_evening_ritual_path(@evening_ritual) %> |
<%= link_to 'Back', evening_rituals_path %>
