<p>
  <strong>Brush:</strong> <%= @todays_morning_ritual[0].brush %>
  <br />
  <strong>Drink water:</strong> <%= @todays_morning_ritual[0].drink_water %>
  <br />
  <strong>Exercise:</strong> <%= @todays_morning_ritual[0].exercise %>
  <br />
  <strong>Journal:</strong> <%= @todays_morning_ritual[0].journal %>
  <br /><br />
  <u>
		<%= link_to "Edit this Ritual", edit_morning_ritual_path(:controller => "morning_rituals", :action => "edit", :id => @todays_morning_ritual[0].id) %>
	</u>
</p>