<p id="notice"><%= notice %></p>

<h1>Morning Rituals</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Waketime</th>
      <th>Exercise</th>
      <th>Brush</th>
      <th>Protein</th>
      <th>Journal</th>
      <th>Drink water</th>
      <th>Read</th>
      <th>Meditate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @morning_rituals.each do |morning_ritual| %>
      <tr>
        <td><%= morning_ritual.day %></td>
        <td><%= morning_ritual.waketime %></td>
        <td><%= morning_ritual.exercise %></td>
        <td><%= morning_ritual.brush %></td>
        <td><%= morning_ritual.protein %></td>
        <td><%= morning_ritual.journal %></td>
        <td><%= morning_ritual.drink_water %></td>
        <td><%= morning_ritual.read %></td>
        <td><%= morning_ritual.meditate %></td>
        <td><%= link_to 'Show', morning_ritual %></td>
        <td><%= link_to 'Edit', edit_morning_ritual_path(morning_ritual) %></td>
        <td><%= link_to 'Destroy', morning_ritual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Morning Ritual', new_morning_ritual_path %>
