<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @morning_ritual.day %>
</p>

<p>
  <strong>Waketime:</strong>
  <%= @morning_ritual.waketime %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @morning_ritual.exercise %>
</p>

<p>
  <strong>Brush:</strong>
  <%= @morning_ritual.brush %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @morning_ritual.protein %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @morning_ritual.journal %>
</p>

<p>
  <strong>Drink water:</strong>
  <%= @morning_ritual.drink_water %>
</p>

<p>
  <strong>Read:</strong>
  <%= @morning_ritual.read %>
</p>

<p>
  <strong>Meditate:</strong>
  <%= @morning_ritual.meditate %>
</p>

<p>
  <strong>Happy:</strong>
  <%= @morning_ritual.happy %>
</p>

<%= link_to 'Edit', edit_morning_ritual_path(@morning_ritual) %> |
<%= link_to 'Back', morning_rituals_path %>
