<h1 align="center">Daily.. journal/meta/self-tracking/achievement pipeline</h1>

<table align="center" max-width="88%">
	<tr>
		
		<td width="30%" valign="top">
			<%= render :partial => '/consumables/log_consumables.html.erb' %>
		</td>
		<td width="30%" valign="top">
			<h2>Log Exercise...</h2><hr>
			<p></p>
		</td>
		<td width="30%" valign="top">
			<h2>Think, Create, Ideate...</h2><hr>
			<p></p>
		</td>
	</tr>
</table>

<h1 align="center">8-day Overview</h1>

<table width="100%" align="center">
	<tr>
		<td align="center" class="box-overview">
		<% tomorrow = Date.today+1 %>
		<h2><%= tomorrow %></h2>
		</td>
		<td align="center" class="box-overview">
			<% today = Date.today %>
			<h2><%= today %></h2>
			<%= @entries.where(id: 6)[0] %>
		</td>
	</tr>
	<tr>
		<td align="center" class="box-overview">
		<% daybeforeyesterday = Date.today-1 %>
		<h2><%= daybeforeyesterday %></h2>
		</td>
		<td align="center" class="box-overview">
			<% daybeforedaybeforeyesterday = Date.today-2 %>
			<h2><%= daybeforedaybeforeyesterday %></h2>
		</td>
	</tr>
	<tr>
		<td align="center" class="box-overview">
		<% daybeforedaybeforedaybeforeyesterday = Date.today-3 %>
		<h2><%= daybeforedaybeforedaybeforeyesterday %></h2>
		</td>
		<td align="center" class="box-overview">
			<h2><%= Date.today-4 %></h2>
		</td>
	</tr>	
	<tr>
		<td align="center" class="box-overview">
		<% daybeforedaybeforedaybeforedaybeforeyesterday = Date.today-5 %>
		<h2><%= daybeforedaybeforedaybeforedaybeforeyesterday %></h2>
		</td>
		<td align="center" class="box-overview">
			<% daybeforethat = Date.today-6 %>
			<h2><%= daybeforethat %></h2>
		</td>
	</tr>	
</table>





<br><br>
<br><br>

