
<div class="daily-accomplishments-form-container">
<h2 class="journal-dash">Priorities</h2>
  <%= form_for(daily_accomplishment) do |f| %>
    <% if daily_accomplishment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(daily_accomplishment.errors.count, "error") %> prohibited this daily_accomplishment from being saved:</h2>

        <ul>
        <% daily_accomplishment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<table>
	<tr>
		<td class="journal-dash" style="vertical-align: top; text-align:right">
			1.
		</td>
		<td class="journal-dash" style="vertical-align: top; text-align:right">
			<div class="field">
		      <% f.label :priority1_accomplished %>
		      <%= f.check_box :priority1_accomplished, :style => "align:center;" %>
		    </div>			
		</td>
		<td style="vertical-align: top;" >
			<div class="field">
		      <% f.label :priority1 %>
		      <%= f.text_area :priority1, :style => "border:none;", :rows => 2 %>
		    </div>
		</td>
	</tr>
	<tr>
		<td class="journal-dash" style="vertical-align: top; text-align:right">
			2.
		</td>
		<td class="journal-dash" style="vertical-align: top; text-align:right">
			<div class="field">
		      <% f.label :priority2_accomplished %>
		      <%= f.check_box :priority2_accomplished, :style => "align:center;" %>
		    </div>			
		</td>
		<td style="vertical-align: top;" >
			<div class="field">
		      <% f.label :priority2 %>
		      <%= f.text_area :priority2, :style => "border:none;" %>
		    </div>
		</td>
	</tr>
	<tr>
		<td class="journal-dash" style="vertical-align: top; text-align:right">
			3.
		</td>
		<td class="journal-dash" style="vertical-align: top; text-align:right">
			<div class="field">
		      <% f.label :priority3_accomplished %>
		      <%= f.check_box :priority3_accomplished, :style => "align:center;" %>
		    </div>			
		</td>
		<td style="vertical-align: top;" >
			<div class="field">
		      <% f.label :priority3 %>
		      <%= f.text_area :priority3, :style => "border:none;" %>
		    </div>
		</td>
	</tr>
	<tr>
		<td class="journal-dash" style="vertical-align: top; text-align:right">
			4.
		</td>
		<td class="journal-dash" style="vertical-align: top; text-align:right">
			<div class="field">
		      <% f.label :priority4_accomplished %>
		      <%= f.check_box :priority4_accomplished, :style => "align:center;" %>
		    </div>			
		</td>
		<td style="vertical-align: top;" >
			<div class="field">
		      <% f.label :priority4 %>
		      <%= f.text_area :priority4, :style => "border:none;" %>
		    </div>
		</td>
	</tr>	
	<tr>
		<td class="journal-dash" style="vertical-align: top; text-align:right">
			5.
		</td>
		<td style="vertical-align: top;" class="checkbox-cell">
			<div class="field">
		      <% f.label :priority5_accomplished %>
		      <%= f.check_box :priority5_accomplished, :style => "align:center;" %>
		    </div>			
		</td>
		<td style="vertical-align: top;" >
			<div class="field">
		      <% f.label :priority5 %>
		      <%= f.text_area :priority5, :style => "border:none;" %>
		    </div>
		</td>
	</tr>
	<tr>
		<td class="journal-dash" style="vertical-align: top; text-align:right">
			6.
		</td>
		<td style="vertical-align: top;" class="checkbox-cell">
			<div class="field">
		      <% f.label :priority6_accomplished %>
		      <%= f.check_box :priority6_accomplished, :style => "align:center;" %>
		    </div>			
		</td>
		<td style="vertical-align: top;" >
			<div class="field">
		      <% f.label :priority6 %>
		      <%= f.text_area :priority6, :style => "border:none;" %>
		    </div>
		</td>
	</tr>
	<tr>
		<td class="journal-dash" style="vertical-align: top; text-align:right">
			7.
		</td>
		<td style="vertical-align: top;" class="checkbox-cell">
			<div class="field">
		      <% f.label :priority7_accomplished %>
		      <%= f.check_box :priority7_accomplished, :style => "align:center;" %>
		    </div>			
		</td>
		<td style="vertical-align: top;" >
			<div class="field">
		      <% f.label :priority7 %>
		      <%= f.text_area :priority7, :style => "border:none;" %>
		    </div>
		</td>
	</tr>				
	<tr>
		<td class="journal-dash" style="vertical-align: top; text-align:right">
			8.
		</td>
		<td style="vertical-align: top;" class="checkbox-cell">
			<div class="field">
		      <% f.label :priority8_accomplished %>
		      <%= f.check_box :priority8_accomplished, :style => "align:center;" %>
		    </div>			
		</td>
		<td style="vertical-align: top;" >
			<div class="field">
		      <% f.label :priority8 %>
		      <%= f.text_area :priority8, :style => "border:none;" %>
		    </div>
		</td>
	</tr>	
</table>
<table>
	<tr>
		<td>
			<div class="actions" align="center">
      			<%= f.submit %>
    		</div>					
		</td>
	</tr>
</table>
    

  <% end %>

</div>  
