<div class="daily-accomplishments-form-container">

<h4 class="journal-dash">Tomorrow's Priorities</h4>

  <%= form_for(@tomorrow_accomplishment	) do |f| %>
    <% if tomorrow_accomplishment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(tomorrow_accomplishment.errors.count, "error") %> prohibited this daily_accomplishment from being saved:</h2>

        <ul>
        <% tomorrow_accomplishment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<table>
	<tr>
		<td>
			<table>
				<tr>
					<td class="journal-dash" style="vertical-align: top; text-align:right;">
						1.
					</td>
					<td class="journal-dash" style="vertical-align: top; text-align:right">
					</td>
					<td style="vertical-align: top;" >
						<div class="field">
					      <% f.label :priority1 %>
					      <%= f.text_area :priority1, :style => "border-width:1px;" %>
					    </div>
					</td>
				</tr>
			</table>			
		</td>
		<td>
			<table>
				<tr>
					<td class="journal-dash" style="vertical-align: top; text-align:right">
						2.
					</td>
					<td class="journal-dash" style="vertical-align: top; text-align:right">			
					</td>
					<td style="vertical-align: top;" >
						<div class="field">
					      <% f.label :priority2 %>
					      <%= f.text_area :priority2, :style => "border-width:1px;" %>
					    </div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td class="journal-dash" style="vertical-align: top; text-align:right">
						3.
					</td>
					<td class="journal-dash" style="vertical-align: top; text-align:right">	
					</td>
					<td style="vertical-align: top;" >
						<div class="field">
					      <% f.label :priority3 %>
					      <%= f.text_area :priority3, :style => "border-width:1px;" %>
					    </div>
					</td>
				</tr>				
			</table>
		</td>
		<td>
			<table>
				<tr>
					<td class="journal-dash" style="vertical-align: top; text-align:right">
						4.
					</td>
					<td class="journal-dash" style="vertical-align: top; text-align:right">		
					</td>
					<td style="vertical-align: top;" >
						<div class="field">
					      <% f.label :priority4 %>
					      <%= f.text_area :priority4, :style => "border-width:1px;" %>
					    </div>
					</td>
				</tr>				
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td class="journal-dash" style="vertical-align: top; text-align:right">
						5.
					</td>
					<td style="vertical-align: top;" class="checkbox-cell">
					</td>
					<td style="vertical-align: top;" >
						<div class="field">
					      <% f.label :priority5 %>
					      <%= f.text_area :priority5, :style => "border-width:1px;" %>
					    </div>
					</td>
				</tr>				
			</table>
		</td>
		<td>
			<table>
				<tr>
					<td class="journal-dash" style="vertical-align: top; text-align:right">
						6.
					</td>
					<td style="vertical-align: top;" class="checkbox-cell">
					</td>
					<td style="vertical-align: top;" >
						<div class="field">
					      <% f.label :priority6 %>
					      <%= f.text_area :priority6, :style => "border-width:1px;" %>
					    </div>
					</td>
				</tr>				
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td class="journal-dash" style="vertical-align: top; text-align:right">
						7.
					</td>
					<td style="vertical-align: top;" class="checkbox-cell">
					</td>
					<td style="vertical-align: top;" >
						<div class="field">
					      <% f.label :priority7 %>
					      <%= f.text_area :priority7, :style => "border-width:1px;"  %>
					    </div>
					</td>
				</tr>				
			</table>			
		</td>
		<td>
			<table>
				<tr>
					<td class="journal-dash" style="vertical-align: top; text-align:right">
						8.
					</td>
					<td style="vertical-align: top;" class="checkbox-cell">
					</td>
					<td style="vertical-align: top;" >
						<div class="field">
					      <% f.label :priority8 %>
					      <%= f.text_area :priority8, :style => "border-width:1px;"  %>
					    </div>
					</td>
				</tr>				
			</table>			
		</td>
	</tr>
	<tr>
		<td>
			<table>
				<tr>
					<td class="journal-dash" style="vertical-align: top; text-align:right">
						9.
					</td>
					<td style="vertical-align: top;" class="checkbox-cell">
					</td>
					<td style="vertical-align: top;" >
						<div class="field">
					      <% f.label :priority9 %>
					      <%= f.text_area :priority9, :style => "border-width:1px;"  %>
					    </div>
					</td>
				</tr>				
			</table>						
		</td>
		<td>
			<table >
				<tr>
					<td>
						<div class="actions" align="center">
			      			<%= f.submit "Set Tomorrow's Priorities", :style => "width:80%;" %>
			    		</div>					
					</td>
				</tr>
			</table>			
		</td>
	</tr>
</table>
    

  <% end %>

</div>  
