<div class="daily-accomplishments-form-container">

  <%= form_for(daily_accomplishment) do |f| %>
    <% if daily_accomplishment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(daily_accomplishment.errors.count, "error") %> prohibited this daily_accomplishment from being saved:</h2>

        <ul>
        <% daily_accomplishment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :day %>
      <%= f.date_field :day %>
    </div>

    <div class="field">
      <%= f.label :priority1 %>
      <%= f.text_area :priority1 %>
    </div>

    <div class="field">
      <%= f.label :priority1_accomplished %>
      <%= f.check_box :priority1_accomplished %>
    </div>

    <div class="field">
      <%= f.label :priority2 %>
      <%= f.text_area :priority2 %>
    </div>

    <div class="field">
      <%= f.label :priority2_accomplished %>
      <%= f.check_box :priority2_accomplished %>
    </div>

    <div class="field">
      <%= f.label :priority3 %>
      <%= f.text_area :priority3 %>
    </div>

    <div class="field">
      <%= f.label :priority3_accomplished %>
      <%= f.check_box :priority3_accomplished %>
    </div>

    <div class="field">
      <%= f.label :priority4 %>
      <%= f.text_area :priority4 %>
    </div>

    <div class="field">
      <%= f.label :priority4_accomplished %>
      <%= f.check_box :priority4_accomplished %>
    </div>

    <div class="field">
      <%= f.label :priority5 %>
      <%= f.text_area :priority5 %>
    </div>

    <div class="field">
      <%= f.label :priority5_accomplished %>
      <%= f.check_box :priority5_accomplished %>
    </div>

    <div class="field">
      <%= f.label :priority6 %>
      <%= f.text_area :priority6 %>
    </div>

    <div class="field">
      <%= f.label :priority6_accomplished %>
      <%= f.check_box :priority6_accomplished %>
    </div>

    <div class="field">
      <%= f.label :priority7 %>
      <%= f.text_area :priority7 %>
    </div>

    <div class="field">
      <%= f.label :priority7_accomplished %>
      <%= f.check_box :priority7_accomplished %>
    </div>

    <div class="field">
      <%= f.label :priority8 %>
      <%= f.text_area :priority8 %>
    </div>

    <div class="field">
      <%= f.label :priority8_accomplished %>
      <%= f.check_box :priority8_accomplished %>
    </div>

    <div class="field">
      <%= f.label :priority9 %>
      <%= f.text_area :priority9 %>
    </div>

    <div class="field">
      <%= f.label :priority9_accomplished %>
      <%= f.check_box :priority9_accomplished %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>  
