<p id="notice"><%= notice %></p>

<h1>Daily Accomplishments</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Priority1</th>
      <th>Priority1 accomplished</th>
      <th>Priority2</th>
      <th>Priority2 accomplished</th>
      <th>Priority3</th>
      <th>Priority3 accomplished</th>
      <th>Priority4</th>
      <th>Priority4 accomplished</th>
      <th>Priority5</th>
      <th>Priority5 accomplished</th>
      <th>Priority6</th>
      <th>Priority6 accomplished</th>
      <th>Priority7</th>
      <th>Priority7 accomplished</th>
      <th>Priority8</th>
      <th>Priority8 accomplished</th>
      <th>Priority9</th>
      <th>Priority9 accomplished</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_accomplishments.each do |daily_accomplishment| %>
      <tr>
        <td><%= daily_accomplishment.day %></td>
        <td><%= daily_accomplishment.priority1 %></td>
        <td><%= daily_accomplishment.priority1_accomplished %></td>
        <td><%= daily_accomplishment.priority2 %></td>
        <td><%= daily_accomplishment.priority2_accomplished %></td>
        <td><%= daily_accomplishment.priority3 %></td>
        <td><%= daily_accomplishment.priority3_accomplished %></td>
        <td><%= daily_accomplishment.priority4 %></td>
        <td><%= daily_accomplishment.priority4_accomplished %></td>
        <td><%= daily_accomplishment.priority5 %></td>
        <td><%= daily_accomplishment.priority5_accomplished %></td>
        <td><%= daily_accomplishment.priority6 %></td>
        <td><%= daily_accomplishment.priority6_accomplished %></td>
        <td><%= daily_accomplishment.priority7 %></td>
        <td><%= daily_accomplishment.priority7_accomplished %></td>
        <td><%= daily_accomplishment.priority8 %></td>
        <td><%= daily_accomplishment.priority8_accomplished %></td>
        <td><%= daily_accomplishment.priority9 %></td>
        <td><%= daily_accomplishment.priority9_accomplished %></td>
        <td><%= link_to 'Show', daily_accomplishment %></td>
        <td><%= link_to 'Edit', edit_daily_accomplishment_path(daily_accomplishment) %></td>
        <td><%= link_to 'Destroy', daily_accomplishment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Daily Accomplishment', new_daily_accomplishment_path %>



<br><br><br><br><br><br><br><br>
<hr>
<br><br><br><br><br><br><br><br>

<%= link_to 'Update Todays accomplishments', daily_accomplishments_dash_form_path %>


