<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @daily_accomplishment.day %>
</p>

<p>
  <strong>Priority1:</strong>
  <%= @daily_accomplishment.priority1 %>
</p>

<p>
  <strong>Priority1 accomplished:</strong>
  <%= @daily_accomplishment.priority1_accomplished %>
</p>

<p>
  <strong>Priority2:</strong>
  <%= @daily_accomplishment.priority2 %>
</p>

<p>
  <strong>Priority2 accomplished:</strong>
  <%= @daily_accomplishment.priority2_accomplished %>
</p>

<p>
  <strong>Priority3:</strong>
  <%= @daily_accomplishment.priority3 %>
</p>

<p>
  <strong>Priority3 accomplished:</strong>
  <%= @daily_accomplishment.priority3_accomplished %>
</p>

<p>
  <strong>Priority4:</strong>
  <%= @daily_accomplishment.priority4 %>
</p>

<p>
  <strong>Priority4 accomplished:</strong>
  <%= @daily_accomplishment.priority4_accomplished %>
</p>

<p>
  <strong>Priority5:</strong>
  <%= @daily_accomplishment.priority5 %>
</p>

<p>
  <strong>Priority5 accomplished:</strong>
  <%= @daily_accomplishment.priority5_accomplished %>
</p>

<p>
  <strong>Priority6:</strong>
  <%= @daily_accomplishment.priority6 %>
</p>

<p>
  <strong>Priority6 accomplished:</strong>
  <%= @daily_accomplishment.priority6_accomplished %>
</p>

<p>
  <strong>Priority7:</strong>
  <%= @daily_accomplishment.priority7 %>
</p>

<p>
  <strong>Priority7 accomplished:</strong>
  <%= @daily_accomplishment.priority7_accomplished %>
</p>

<p>
  <strong>Priority8:</strong>
  <%= @daily_accomplishment.priority8 %>
</p>

<p>
  <strong>Priority8 accomplished:</strong>
  <%= @daily_accomplishment.priority8_accomplished %>
</p>

<p>
  <strong>Priority9:</strong>
  <%= @daily_accomplishment.priority9 %>
</p>

<p>
  <strong>Priority9 accomplished:</strong>
  <%= @daily_accomplishment.priority9_accomplished %>
</p>

<%= link_to 'Edit', edit_daily_accomplishment_path(@daily_accomplishment) %> |
<%= link_to 'Back', daily_accomplishments_path %>
