<p id="notice"><%= notice %></p>

<h1>Spliffs</h1>

<table>
  <thead>
    <tr>
      <th>Smoked at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spliffs.each do |spliff| %>
      <tr>
        <td><%= spliff.smoked_at.strftime"%H" %>:<%= spliff.smoked_at.strftime"%M" %> - <%= spliff.smoked_at.strftime"%a" %> <%= spliff.smoked_at.strftime"%d" %> <%= spliff.smoked_at.strftime"%b" %></td>
        <td><%= link_to 'Show', spliff %></td>
        <td><%= link_to 'Edit', edit_spliff_path(spliff) %></td>
        <td><%= link_to 'Destroy', spliff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spliff', new_spliff_path %>
