<p id="notice"><%= notice %></p>

<p>
  <strong>Eaten at:</strong>
  <%= @meal.eaten_at %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @meal.meal %>
</p>

<p>
  <strong>Meal source:</strong>
  <%= @meal.meal_source %>
</p>

<p>
  <strong>I1:</strong>
  <%= @meal.i1 %>
</p>

<p>
  <strong>I2:</strong>
  <%= @meal.i2 %>
</p>

<p>
  <strong>I3:</strong>
  <%= @meal.i3 %>
</p>

<p>
  <strong>I4:</strong>
  <%= @meal.i4 %>
</p>

<p>
  <strong>I5:</strong>
  <%= @meal.i5 %>
</p>

<p>
  <strong>I6:</strong>
  <%= @meal.i6 %>
</p>

<p>
  <strong>I7:</strong>
  <%= @meal.i7 %>
</p>

<p>
  <strong>I8:</strong>
  <%= @meal.i8 %>
</p>

<p>
  <strong>I9:</strong>
  <%= @meal.i9 %>
</p>

<p>
  <strong>I10:</strong>
  <%= @meal.i10 %>
</p>

<p>
  <strong>I11:</strong>
  <%= @meal.i11 %>
</p>

<p>
  <strong>I12:</strong>
  <%= @meal.i12 %>
</p>

<p>
  <strong>I other:</strong>
  <%= @meal.i_other %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @meal.notes %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
