<div class="box-fullwidth container-fluid">

<%-# TOP AREA -- MR, ER, EVERYDAY -%>	
	<table class="container">
		<tr>
			<td class="box-dash-body">
<%-# Morning Ritual + Journal Area -%>
				<div class="container-fluid" style="border:1px solid black; padding-top:12px;">
					<div class="row">
						<div class="col-lg-4">
							<% if @todays_morning_ritual.count > 0 %>
								<%= render '/morning_rituals/daily_dash_show', todays_morning_ritual: @todays_morning_ritual %>
							<% else %>
								<%= render '/morning_rituals/daily_dash_form', morning_ritual: @morning_ritual %>
							<% end %>
							
							<%= render '/journal_entries/gameplan_narrow', journal_entry: @journal_entry %>
						</div>
						<div class="col-lg-8">
							<%= render '/journal_entries/morning_journal_dash', journal_entry: @journal_entry %>
						</div>
					</div>
					<div class="row">
			  			<div class="col">
			  				<%= render '/journal_entries/morning_notes', journal_entry: @journal_entry %>
			  			</div>
			  		</div>
				</div>
<%-# WEIGHT ENTRY AREA -%>
				<div class="container-fluid" style="border:1px solid black; padding-top:12px;">
					<div class="row">
						<div class="col">
							<span class="dash-header-2018">Weight</span>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<% if @todays_weight.count == 0 %>

							<% elsif @todays_weight.order(:weighed_at).last.weighed_at.to_date == Date.today %>
								<%= render '/weights/daily_dash_show', weight: @todays_weight %>
							<% else %>
								<%= render '/weights/daily_dash_form', weight: @weight %>
							<% end %>	
						</div>
					</div>
				</div>							

<%-# CONSUMPTION ENTRY & DISPLAY AREA-%>
				<div class="container-fluid" style="border:1px solid black; padding-top:12px;">
					<div class="row">
						<div class="col">
							<span class="dash-header-2018">Consumption</span>
						</div>
					</div>
					<div class="row">
						<div class="col" align="top" style="border-right: 1px solid black;">
							<%= render '/simple_consumables/dash_form', simple_consumable: @simple_consumable %>
						</div>
					</div>
				</div>

<%-# EXERCISE ENTRY & DISPLAY AREA-%>
				<div class="container-fluid" style="border:1px solid black; padding-top:12px;">
					<div class="row">
						<div class="col">
							<span class="dash-header-2018">Exercise</span>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<%= render '/workouts/dash_form', workout: @workout %>
						</div>
						<div class="col-lg-12">
							<br>
							
						</div>
					</div>
				</div>
			

<%-# 2-PRONG TABLE -%>
				<table frame="box" rules="none">
					<tr>
						<td width="33%" align="center">
							<br>
							<span class="dash-header-2018">Journal</span>
						</td>
						<td width="33%" align="center">
							<br>
							<span class="dash-header-2018">Today's Health Summary</span>
						</td>
					</tr>
					<tr>
						<td style="border-right: 1px solid black;" valign="top">
							<%= render '/journal_entries/basic_journal', journal_entry: @journal_entry %>
						</td>
						<td valign="top">
							<br>
							<% @todays_health_summary.each{|item| %>
								<% if item.class == Workout %>
									&#8594; <%= item.minutes %> minute <%= item.name %>: <%= item.description %><br><br>
								<% elsif item.class == SimpleConsumable %>
									&#8594; <%= item.description %><br><br>
								<% else %>
								<% end %>
							<% } %>

						</td>
					</tr>
				</table>
				
<%-# Evening Ritual + Journal Area -%>
				<div class="container-fluid" style="border:1px solid black; padding-top:12px;">
					<div class="row">
						<div class="col-lg-4">
							<% if @todays_evening_ritual.count > 0 %>
								<%= render '/evening_rituals/daily_dash_show', todays_evening_ritual: @todays_evening_ritual %>
							<% else %>
								<%= render '/evening_rituals/daily_dash_form', evening_ritual: @evening_ritual %>
							<% end %>
							<%= render '/journal_entries/amazing_things_narrow', journal_entry: @journal_entry %>
						</div>
						<div class="col-lg-8">
							<%= render '/journal_entries/evening_journal_dash' %>
						</div>
					</div>
				</div>

				<br><hr><br>

			</td>
		</tr>
	</table>


</div>

