<div class="box-fullwidth container-fluid">
	
	<table class="container">
		<tr>
			<td class="box-dash-body">

				<table>
					<tr>
						<th width="30%">Morning Ritual</th>
						<th width="30%">Evening Ritual</th>
						<th width="30%">Things to do Everyday</th>
					</tr>
					<tr>
						<td>
							<% if @todays_morning_ritual.count > 0 %>
								<%= render '/morning_rituals/daily_dash_show', todays_morning_ritual: @todays_morning_ritual %>
							<% else %>
								<%= render '/morning_rituals/daily_dash_form', morning_ritual: @morning_ritual %>
							<% end %>
						</td>
						<td>
							<% if @todays_evening_ritual.count > 0 %>
								<%= render '/evening_rituals/daily_dash_show', todays_evening_ritual: @todays_evening_ritual %>
							<% else %>
								<%= render '/evening_rituals/daily_dash_form', evening_ritual: @evening_ritual %>
							<% end %>
						</td>
						<td>
							<% if @todays_everyday == nil %>
								<%= render '/everydays/daily_dash_form', everyday: @everyday %>
							<% elsif @todays_everyday.created_at.to_date == Date.today %>
								<%= render '/everydays/daily_dash_show', todays_everyday: @todays_everyday %>
							<% else %>
								<%= render '/everydays/daily_dash_form', everyday: @everyday %>
							<% end %>							
						</td>
					</tr>
				</table>

				<br>

				<table frame="box" rules="none">
					<tr>
						<td>
							<br>
							<% if @todays_weight.count == 0 %>

							<% elsif @todays_weight.order(:weighed_at).last.weighed_at.to_date == Date.today %>
								<%= render '/weights/daily_dash_show', weight: @todays_weight %>
							<% else %>
								<%= render '/weights/daily_dash_form', weight: @weight %>
							<% end %>	
						</td>
					</tr>
				</table>
				
				<br><br>

				<table frame="box" rules="none">
					<tr>
						<td width="33%" align="center">
							<strong>GamePlan</strong>
						</td>
						<td width="33%" align="center">
							<strong>Priorities</strong>
						</td>
						<td width="33%" align="center">
							<strong>CaloricConsumption</strong>
						</td>
					</tr>
					<tr>
						<td style="border-right: 1px solid black;" valign="top">
							<p><%= simple_format(@gameplan.entry) %></p>
						</td>
						<td style="border-right: 1px solid black;" valign="top">
							<p><%= simple_format(@priorities.entry) %></p>
						</td>
						<td valign="top"></td>
					</tr>
				</table>
				
				<br><hr><br>
				
				<%= render '/journal_entries/daily_dash', journal_entry: @journal_entry %>

				<p align="center">
					<u>
						<strong>
							<%= link_to("Journal History","/journal_entries/history") %>
						</strong>
					</u>
				</p>
			</td>
		</tr>
	</table>

</div>
