
	

<div class="box-fullwidth container-fluid">
	
	<table class="container-fluid">
		<tr class="row">
			<td>

				<table>
					<tr>
						<td class="top-action-journal-dash" style="padding-left:60px;">
							<h4 class="journal-dash">Expend:</h4>
						</td>
						<td class="top-action-journal-dash" >
							<%= link_to "kettlebell", '/exercises/kettlebell', :class=> "journal-dash-btn" %>
						</td>
						<td class="top-action-journal-dash" >
							<%= link_to "run", '/exercises/run', :class=> "journal-dash-btn" %>
						</td>
						<td class="top-action-journal-dash" >
							<%= link_to "core", '/exercises/core', :class=> "journal-dash-btn" %>
						</td>
						<td class="top-action-journal-dash" >
							<%= link_to "stretch", '/exercises/stretch', :class=> "journal-dash-btn" %>	
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td align="left">
							<h4 class="journal-dash">Consume:</h4>
						</td>
						<td class="top-action-journal-dash" >
							<%= link_to "smoothie", '/consumables/smoothie', :class=> "journal-dash-btn" %>
						</td>
						<td class="top-action-journal-dash" >
							<%= link_to "omelette", '/consumables/omelette', :class=> "journal-dash-btn" %>
						</td>
						<td class="top-action-journal-dash" >
							<%= link_to "meal", '/consumables/meal', :class=> "journal-dash-btn" %>	
						</td>
						<td class="top-action-journal-dash" style="padding-right:60px;">
							<%= link_to "drink", '/consumables/drink', :class=> "journal-dash-btn" %>
						</td>
					</tr>	
				</table>
			</td>		
		</tr>
	</table>	
	<table>
		<tr>
			<td class="box-dash-body">
				<%= render '/journal_entries/morning_journal_dash', journal_entry: @journal_entry %>
				<br>
				<hr>
				<br>
				<%= render '/daily_accomplishments/evening_form', tomorrow_accomplishment: @tomorrow_accomplishment %>
				<br>
				<hr>
				<br>
				<%= render '/journal_entries/evening_journal_dash', journal_entry: @journal_entry %>
				
			</td>
			<td class="box-dash-sidebar">
				<%= render '/morning_rituals/journal_dash_form', morning_ritual: @morning_ritual %>
				<br>
				<hr>
				<br>
				<%= render '/daily_accomplishments/dash_form', daily_accomplishment: @daily_accomplishment %>
				<br>
				<hr>
				<br>
				<%= render '/evening_rituals/journal_dash_form', evening_ritual: @evening_ritual %>
			</td>
		</tr>
	</table>