<div class="box-fullwidth container-fluid">
	
	



	<table class="container">
		<tr>
			<td class="box-dash-body">
				<table>
					<tr>
						<td class="td-quickadd">
							<h4 class="journal-dash">Expend:</h4>
						</td>
						<td class="td-quickadd">
							<%= link_to "kbell", '/exercises/kettlebell', :class=> "journal-dash-btn" %>
						</td>
						<td class="td-quickadd">
							<%= link_to "run", '/exercises/run', :class=> "journal-dash-btn" %>
						</td>
						<td class="td-quickadd">
							<%= link_to "core", '/exercises/core', :class=> "journal-dash-btn" %>
						</td>
						<td class="td-quickadd">
							<%= link_to "stretch", '/exercises/stretch', :class=> "journal-dash-btn" %>	
						</td>
					</tr>
					<tr>
						<td class="td-quickadd">
							<h4 class="journal-dash">Consume:</h4>
						</td>
						<td class="td-quickadd">
							<%= link_to "smoothie", '/consumables/smoothie', :class=> "journal-dash-btn" %>
						</td>
						<td>
							<%= link_to "omelette", '/consumables/omelette', :class=> "journal-dash-btn" %>
						</td>
						<td>
							<%= link_to "meal", '/consumables/meal', :class=> "journal-dash-btn" %>
						</td>
						<td>
							<%= link_to "drink", '/consumables/drink', :class=> "journal-dash-btn" %>
						</td>
					</tr>
				</table>				
			</td>
			<td class="box-dash-sidebar">
				<%= render '/impulses/recent_impulses' %>
			</td>
		</tr>
	</table>



	<table>
		<tr>
			<td class="box-dash-body">
				<%= render '/journal_entries/morning_journal_dash', journal_entry: @journal_entry %>
				<br>
				<hr>
				<br>
				<%= render '/journal_entries/simple_journal_entry', journal_entry: @journal_entry %>
				<br>
				<hr>
				<br>
				<%= render '/journal_entries/evening_journal_dash', journal_entry: @journal_entry %>
				<br>
				<hr>
				<br>
				<%= render '/daily_accomplishments/evening_form', tomorrow_accomplishment: @tomorrow_accomplishment %>
				
			</td>
			<td class="box-dash-sidebar">
				<%= render '/morning_rituals/journal_dash_form', morning_ritual: @morning_ritual %>
				<br>
				<hr>
				<br>
				<%= render '/daily_accomplishments/dash_form', daily_accomplishment: @daily_accomplishment %>
				<br>
				<hr>
				<br>
				<%= render '/evening_rituals/journal_dash_form', evening_ritual: @evening_ritual %>
				<br><br>
				<br><br>
				<hr>
				
				<%= render '/goal_indicators/evening_progress_reflection', goal_indicator: @goal_indicator %>
			</td>
		</tr>
	</table>