<div class="box-fullwidth container-fluid">

<%-# COMMENT HERE -%>	
	<div class="container-fluid">
		<div class="row">
			<div class="col box-dash-body">

				<%-# WEEKLY RECAP  -%>
				<div class="container-fluid">
					<% @weeks.reverse.each{ |week| %>
						<div class="row">
							<div class="col" style="border-bottom:1px solid;">
								<% @mr_count = 0 %>
								<% @er_count = 0 %>
								<% @workout_days = 0 %>
								<% @workouts_count = 0 %>
								<% @workout_mins = 0 %>
								<% @on_diet_meals_count = 0 %>
								<% @cheat_meals_count = 0 %>
								<% @on_diet_snacks_count = 0 %>
								<% @off_diet_snacks_count = 0 %>
								<% @alcohol_days = 0 %>
								<% @alcohol_drinks = 0 %>

								<% week.each{|day| %>
									
									<%-# check for morning rituals  -%>
									<% unless MorningRitual.where(day: day)[0] == nil %>
										<% if MorningRitual.where(day: day)[0].attributes.values.select{|item| item == true }.count > 2 %>
											<% @mr_count += 1 %>
										<% end %>
									<% end %>

									<%-# check for evening rituals  -%>
									<% unless EveningRitual.where(day: day)[0] == nil %>
										<% if EveningRitual.where(day: day)[0].attributes.values.select{|item| item == true }.count > 2 %>
											<% @er_count += 1 %>
										<% end %>
									<% end %>

									<%-# check for # workout days -%>
									<% unless Workout.where(occurrence_date: day)[0] == nil %>
										<% if Workout.where(occurrence_date: day).count > 0 %>
											<% @workout_days += 1 %>
										<% end %>
									<% end %>

									<%-# check for # workouts -%>
									<% unless Workout.where(occurrence_date: day)[0] == nil %>
										<% if Workout.where(occurrence_date: day).count > 0 %>
											<% @workouts_count += Workout.where(occurrence_date: day).count %>
										<% end %>
									<% end %>

									<%-# check for workout minutes -%>
									<% unless Workout.where(occurrence_date: day)[0] == nil %>
										<% if Workout.where(occurrence_date: day).count == 1 %>
											<% @workout_mins += Workout.where(occurrence_date: day)[0].minutes %>
										<% elsif Workout.where(occurrence_date: day).count > 1 %>
											<% Workout.where(occurrence_date: day).each{ |workout| %>
											<% @workout_mins += workout.minutes %>
											<% } %>
										<% else %>	
										<% end %>
									<% end %>

									<%-# check for # on-diet & # cheat meals & on-diet snacks & cheat snacks & alcohol -%>
									<% unless SimpleConsumable.where(occurrence_date: day).count == 0 %>
										<% @cheat_meals_count += SimpleConsumable.where(occurrence_date: day).where(consumable_type: "meal").where(on_diet: false).count %>
										<% @on_diet_meals_count += SimpleConsumable.where(occurrence_date: day).where(consumable_type: "meal").where(on_diet: true).count %>
										<% @on_diet_snacks_count += SimpleConsumable.where(occurrence_date: day).where(consumable_type: "snack").where(on_diet: true).count %>
										<% @off_diet_snacks_count += SimpleConsumable.where(occurrence_date: day).where(consumable_type: "snack").where(on_diet: false).count %>
										<% if SimpleConsumable.where(occurrence_date: day).where(consumable_type: "alcohol").count > 0 %>
											<% @alcohol_days += 1 %>
											<% @alcohol_drinks += SimpleConsumable.where(occurrence_date: day).where(consumable_type: "alcohol").count %>
										<% end %>
									<% end %>

								<% } %>


								<%-# display totals + summaries -%>
								<% if week.last == nil %>
									<strong>
										Week of <%= week.first.strftime("%d") %> <%= week.first.strftime("%b") %> - <%= (week.first + 6).strftime("%d") %> <%= (week.first + 6).strftime("%b") %> 
									</strong>
									<br>
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												Morning Rituals:		
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <%= (@mr_count/7.0*100.0).ceil %>%" aria-valuenow="<%= @mr_count %>" aria-valuemin="0" aria-valuemax="7"><%= @mr_count %>/7</div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												Workouts:		
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= (@workouts_count/7.0*100.0).ceil %>%" aria-valuenow="<%= @workouts_count %>" aria-valuemin="0" aria-valuemax="7"><%= @workouts_count %></div>
												</div>
											</div>
										</div>
									</div>
									<br>									
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												Workout Days:		
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= (@workout_days/7.0*100.0).ceil %>%" aria-valuenow="<%= @workout_days %>" aria-valuemin="0" aria-valuemax="7"><%= @workout_days %>/7</div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												Workout Minutes:		
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= (@workout_mins/420.0*100.0).ceil %>%" aria-valuenow="<%= @workout_mins %>" aria-valuemin="0" aria-valuemax="420"><%= @workout_mins %>/420</div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												On- vs off-diet meals:
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= @on_diet_meals_count/(@on_diet_meals_count+@cheat_meals_count).to_f*100.0 %>%" aria-valuenow="<%= @on_diet_meals_count %>" aria-valuemin="0" aria-valuemax="<%= @on_diet_meals_count + @cheat_meals_count %>"><%= @on_diet_meals_count %> on-diet of <%= @on_diet_meals_count + @cheat_meals_count %> total meals</div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												On- vs off-diet snacks:
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= @on_diet_snacks_count/(@on_diet_snacks_count+@off_diet_snacks_count).to_f*100.0 %>%" aria-valuenow="<%= @on_diet_snacks_count %>" aria-valuemin="0" aria-valuemax="<%= @on_diet_snacks_count + @off_diet_snacks_count %>"><%= @on_diet_snacks_count %> on-diet of <%= @on_diet_snacks_count + @off_diet_snacks_count %> total snacks</div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												Days on which I drank alcohol:
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= @alcohol_days/7.0*100.0 %>%" aria-valuenow="<%= @alcohol_days %>" aria-valuemin="0" aria-valuemax="7"><%= @alcohol_days %>/7 (<%= @alcohol_drinks%> total drinks)</div>
												</div>
											</div>
										</div>
									</div>
									<br>									
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												Evening Rituals:		
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <%= (@er_count/7.0*100.0).ceil %>%" aria-valuenow="<%= @er_count %>" aria-valuemin="0" aria-valuemax="7"><%= @er_count %>/7</div>
												</div>
											</div>
										</div>
									</div>								
								<% else %>
									<strong>
										Week of <%= week.first.strftime("%d") %> <%= week.first.strftime("%b") %> - <%= (week.first + 6).strftime("%d") %> <%= (week.first + 6).strftime("%b") %> 
									</strong>
									<br>
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												Morning Rituals:		
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <%= (@mr_count/7.0*100.0).ceil %>%" aria-valuenow="<%= @mr_count %>" aria-valuemin="0" aria-valuemax="7"><%= @mr_count %>/7</div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												Workouts:		
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= (@workouts_count/7.0*100.0).ceil %>%" aria-valuenow="<%= @workouts_count %>" aria-valuemin="0" aria-valuemax="7"><%= @workouts_count %></div>
												</div>
											</div>
										</div>
									</div>
									<br>									
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												Workout Days:		
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= (@workout_days/7.0*100.0).ceil %>%" aria-valuenow="<%= @workout_days %>" aria-valuemin="0" aria-valuemax="7"><%= @workout_days %>/7</div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												Workout Minutes:		
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= (@workout_mins/420.0*100.0).ceil %>%" aria-valuenow="<%= @workout_mins %>" aria-valuemin="0" aria-valuemax="420"><%= @workout_mins %>/420</div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												On- vs off-diet meals:
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= @on_diet_meals_count/(@on_diet_meals_count+@cheat_meals_count).to_f*100.0 %>%" aria-valuenow="<%= @on_diet_meals_count %>" aria-valuemin="0" aria-valuemax="<%= @on_diet_meals_count + @cheat_meals_count %>"><%= @on_diet_meals_count %> on-diet of <%= @on_diet_meals_count + @cheat_meals_count %> total meals</div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												On- vs off-diet snacks:
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= @on_diet_snacks_count/(@on_diet_snacks_count+@off_diet_snacks_count).to_f*100.0 %>%" aria-valuenow="<%= @on_diet_snacks_count %>" aria-valuemin="0" aria-valuemax="<%= @on_diet_snacks_count + @off_diet_snacks_count %>"><%= @on_diet_snacks_count %> on-diet of <%= @on_diet_snacks_count + @off_diet_snacks_count %> total snacks</div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												Days on which I drank alcohol:
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= @alcohol_days/7.0*100.0 %>%" aria-valuenow="<%= @alcohol_days %>" aria-valuemin="0" aria-valuemax="7"><%= @alcohol_days %>/7 (<%= @alcohol_drinks%> total drinks)</div>
												</div>
											</div>
										</div>
									</div>
									<br>									
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-2" align="right">
												Evening Rituals:		
											</div>
											<div class="col-lg-8">
												<div class="progress" style="height: 44px;">
													<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <%= (@er_count/7.0*100.0).ceil %>%" aria-valuenow="<%= @er_count %>" aria-valuemin="0" aria-valuemax="7"><%= @er_count %>/7</div>
												</div>
											</div>
										</div>
									</div>
								<% end %>
								
								<br>
							</div>
						</div>
					<% } %>
				</div>

<br><br><br>

				<%-# CALENDAR  -%>	
				<div class="container-fluid">
					<% @weeks.each{ |week| %>
						<div class="row">
							<% week.each{ |day| %>
								<div class="col cal-day">
									<%= day %>	
								</div>
							<% } %>
						</div>
					<% } %>
				</div>

			</div>
		</div>
	</div>