<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<p>
  <strong>Done?:</strong>
  <%= @exercise.done %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @exercise.notes %>
</p>

<p>
  <strong>Planned time:</strong>
  <%= @exercise.planned_time %>
</p>

<p>
  <strong>Planned date:</strong>
  <%= @exercise.planned_date %>
</p>

<p>
  <strong>Occurrence time:</strong>
  <%= @exercise.occurrence_time %>
</p>

<p>
  <strong>Occurrence date:</strong>
  <%= @exercise.occurrence_date %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
