<p id="notice"><%= notice %></p>

<h1>Everydays</h1>

<table>
  <thead>
    <tr>
      <th>Read</th>
      <th>Cardio</th>
      <th>Exercise</th>
      <th>Eat to plan</th>
      <th>Make money</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @everydays.each do |everyday| %>
      <tr>
        <td><%= everyday.read %></td>
        <td><%= everyday.cardio %></td>
        <td><%= everyday.exercise %></td>
        <td><%= everyday.eat_to_plan %></td>
        <td><%= everyday.make_money %></td>
        <td><%= link_to 'Show', everyday %></td>
        <td><%= link_to 'Edit', edit_everyday_path(everyday) %></td>
        <td><%= link_to 'Destroy', everyday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Everyday', new_everyday_path %>
