<p id="notice"><%= notice %></p>

<p>
  <strong>Consumed at:</strong>
  <%= @consumable.consumed_at %>
</p>

<p>
  <strong>Consumption type:</strong>
  <%= @consumable.consumption_type %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @consumable.quantity %>
</p>

<p>
  <strong>Units:</strong>
  <%= @consumable.units %>
</p>

<p>
  <strong>Item1:</strong>
  <%= @consumable.item1 %>
</p>

<p>
  <strong>Item2:</strong>
  <%= @consumable.item2 %>
</p>

<p>
  <strong>Item3:</strong>
  <%= @consumable.item3 %>
</p>

<p>
  <strong>Item4:</strong>
  <%= @consumable.item4 %>
</p>

<p>
  <strong>Item5:</strong>
  <%= @consumable.item5 %>
</p>

<p>
  <strong>Item6:</strong>
  <%= @consumable.item6 %>
</p>

<p>
  <strong>Item7:</strong>
  <%= @consumable.item7 %>
</p>

<p>
  <strong>Item8:</strong>
  <%= @consumable.item8 %>
</p>

<p>
  <strong>Item9:</strong>
  <%= @consumable.item9 %>
</p>

<p>
  <strong>Item10:</strong>
  <%= @consumable.item10 %>
</p>

<p>
  <strong>Item11:</strong>
  <%= @consumable.item11 %>
</p>

<p>
  <strong>Item12:</strong>
  <%= @consumable.item12 %>
</p>

<p>
  <strong>Item13:</strong>
  <%= @consumable.item13 %>
</p>

<p>
  <strong>Item14:</strong>
  <%= @consumable.item14 %>
</p>

<p>
  <strong>Item15:</strong>
  <%= @consumable.item15 %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @consumable.notes %>
</p>

<%= link_to 'Edit', edit_consumable_path(@consumable) %> |
<%= link_to 'Back', consumables_path %>
