<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
    <table style="margin-top:5px;">
        <tr>
            <td align="left" width="10%">
                
                <table align='left'>
                    <tr>
                        <td align="left">
                            <div class="navbar-header page-scroll">
                                <button type="button" class="btn" style="background-color:#11ba7d; color:#fff;" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">
                                        Toggle navigation
                                    </span> 
                                    everything >
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>

            </td>
            <td width="70%"></td>
            <td align="right" width="20%">
                <table align="right">
                    <tr>
                        <td align="right">
                            <button class="btn btn-primary" type="button" style="background-color:#11ba7d; color:#fff; border-color: #11ba7d;">
                                <a href="/dashboards/daily_dash_2018" style="color:white">Daily Dash</a>
                            </button>
                        </td>
                        <td align="right">
                            <button class="btn btn-primary" type="button" style="background-color:#11ba7d; color:#fff; border-color: #11ba7d;">
                                <a href="/climbs" style="color:white">Cimbs</a>
                            </button>
                        </td>
                    </tr>
                </table>
              
            </td>
        </tr>
    </table>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="margin-top:-2px;">
                <li style="margin-left:-26px;">
                    <a href="/">Home</a>
                </li>
                <li style="margin-left:-26px;">
                    <a href="/journal_entries">Journal</a>
                </li>
                <li style="margin-left:-26px;">
                    <a href="/simple_consumables">Simple Cnsmbls</a>
                </li>
                <li style="margin-left:-26px;">
                    <a href="/consumables">Consumables</a>
                </li>
                <li style="margin-left:-26px;">
                    <a href="/morning_rituals">Morning Ritual</a>
                </li>
                <li style="margin-left:-26px;">
                    <a href="/evening_rituals">Evening Ritual</a>
                </li>
                <li style="margin-left:-26px;">
                    <a href="/exercises">Exercise</a>
                </li>
                <li style="margin-left:-26px;">
                    <a href="/climbs">Climbs</a>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Journal Dash", '/dashboards/journal_dash' %>
                </li>  
                <li style="margin-left:-26px;">
                    <%= link_to "Day/Night", '/journal_entries/new' %>
                </li>  
                <li style="margin-left:-26px;">
                    <%= link_to "Journal History", '/journal_entries/history' %>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Kettlebell", exercises_kettlebell_path(:controller => @exercise, :action => "kettlebell") %>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Run", exercises_run_path(:controller => @exercise, :action => "run") %>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Core", exercises_core_path(:controller => @exercise, :action => "core") %>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Stretch", exercises_stretch_path(:controller => @exercise, :action => "stretch") %>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Climb", '/climbs/new' %>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Climbing Home", '/climbs' %>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Exercise Home", '/exercises' %>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "*Meal", consumables_meal_path(:controller => @consumables, :action => "meal") %>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Smoothie", consumables_smoothie_path(:controller => @consumables, :action => "smoothie") %>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Omelette", consumables_omelette_path(:controller => @consumables, :action => "omelette") %>    
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Mexican", consumables_mexican_path(:controller => @consumables, :action => "mexican") %>
                </li>  
                <li style="margin-left:-26px;">
                    <%= link_to "*Drink", consumables_drink_path(:controller => @consumables, :action => "drink") %>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Drink Water", consumables_drink_water_path(:controller => @consumables, :action => "drink_water") %>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Drink Coffee", consumables_drink_coffee_path(:controller => @consumables, :action => "drink_coffee") %>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Drink Wine", consumables_drink_wine_path(:controller => @consumables, :action => "drink_wine") %>
                </li>
                <li style="margin-left:-26px;">
                    <%= link_to "Consumables Home", consumables_path(:controller => @consumables, :action => "index") %>
                </li>
                <li style="margin-left:-26px;">
                    
                </li>
                <li style="margin-left:-26px;">
                    
                </li>
                <li style="margin-left:-26px;">
                    
                </li>
                <li style="margin-left:-26px;">
                    
                </li>
                <li style="margin-left:-26px;">
                    
                </li>                                

            </ul>
        </div>

        <!-- Collect journal dropdown content -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-journal">
            <ul class="nav navbar-nav">
                
           
            </ul>
        </div>        

        <!-- Collect consumables dropdown content -->
        <div align="right" style="margin-right:-33px;" class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav" style="margin-top:-2px;">
                <li style="margin-bottom:8px;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col quick-consumables" align="right">
                                <%= link_to "Smoothie", consumables_smoothie_path(:controller => @consumables, :action => "smoothie") %>
                                &nbsp;
                                <%= link_to "Omelette", consumables_omelette_path(:controller => @consumables, :action => "omelette") %>
                                &nbsp;                                
                                <%= link_to "Mexi", consumables_mexican_path(:controller => @consumables, :action => "mexican") %>
                                &nbsp;
                                <%= link_to "*Meal", consumables_meal_path(:controller => @consumables, :action => "meal") %>
                                &nbsp;
                                <%= link_to "*Drink", consumables_meal_path(:controller => @consumables, :action => "drink") %> 
                            </div>
                        </div>
                    </div>
                </li>
                <li style="margin-bottom:8px;">
                    <%= button_to "1500ml Water", consumables_drink_water_now_path(:controller => @consumables, :action => "drink_water_now"), :class => "btn", :style => "background-color:#11ba7d; color:#fff; width:144px;" %>
                </li>
                <li style="margin-bottom:8px;">
                    <%= button_to "500ml Coffee", consumables_drink_coffee_now_path(:controller => @consumables, :action => "drink_coffee_now"), :class => "btn", :style => "background-color:#11ba7d; color:#fff; width:144px;" %>
                </li>
                <li style="margin-bottom:8px;">
                    <%= button_to "Spliff", consumables_new_spliff_now_path(:controller => @consumables, :action => "new_spliff_now"), :class => "btn", :style => "background-color:#11ba7d; color:#fff; width:144px;" %>
                </li>
                <li style="margin-bottom:8px;">
                    <div>
                        <%= link_to "All Consumables", '/consumables' %>
                    </div>
                </li>                
            </ul>
        </div>        
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>